.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.border-gradient-orange-pink {
  border-image: linear-gradient(to bottom, rgb(245, 160, 2), #d7277f);
  border-image-slice: 10;
}

/* Define the first gradient */
.bg-gradient1 {
  background-image: linear-gradient(to right, #ff8c00, #ff69b4);
}

/* Define the second gradient for hover effect */
.bg-gradient2 {
  background-image: linear-gradient(to right, rgb(245, 160, 2), #3eea41);
}
